body {
  background: teal;
}

#title {
  padding-top: 10px;
  padding-bottom: 10px;
}

#turn {
  background-color: rgb(201, 88, 184);
  color: black;
  width: 50%;
  height: 60px;
  padding: 10px 5% 10px 5%;
  font-size: 2vw;
  margin: 0 auto;
}



.table.table-bordered tbody tr td {
  text-align: center;
  border: 4px solid black;
  border-color: black;
  padding: 20px;
}

h1.jumbotron {
  margin-bottom: 10px;
}

#gameboard {
  padding: 20%;
  padding-top: 1%;
}

tr {
  height: 120px;
  font-size: 5em;
  font-family: 'Indie Flower', cursive;
}

td {
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 5px;
}
